* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #333;
  }
.aaa{
    background-color: black;
    color: white;
    text-align: center;
    padding:10px;
    width: 430px;
}
.menu {
    background-color: rgb(220, 220, 220);
    width: 450px;
    text-align: center;

    
}
.menu ul li{
    display: inline-table;
    list-style-type: none;
    padding: 6px;
    text-align: center;
    font-style: arial;
    font-size: 12px;
    width: 70px;
}
