*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.num{
    grid-template-columns:  auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
    display: grid;
    width: 800px;
}
.num > div{
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    height: 70px;
    align-content: center;
}
.num8{
    grid-column: 6 / span 1;
}