*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: whitesmoke;
    height: 600px;
    width: 800px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.item{
    background-color: rgb(133, 133, 254);
    text-align: center;
    align-content: center;
    height: 150px;
    width: 150px;
    color: white;

}