*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.size{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.size >div{
    padding: 20px;
    background-color: rgb(43, 36, 86);
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8px;
}
.num1{
    grid-area: 1 / 1 / span 2 / span 2;
}
.num6{
    grid-area: 3 / 1 / span 2 / span 2;
}